[2020-07-18 10:12] JAgrit20 opened #2 "password field is not hidden"
i am able to see all the text I write in that password field
![Screenshot_20200718-154027](https://user-images.githubusercontent.com/65972513/87850361-39d15780-c90d-11ea-83f9-e6172163ca01.jpg)
field

[2020-08-15 18:24] harchani-ritik commented on #2
@JAgrit20 Thanks for hoping in! Though the issue is already resolved.

[2020-08-15 18:24] #2 closed

[2020-09-12 06:36] pratikbaid3 opened #3 "flutter_vlc_player incompatibility issue causing pod install to fail"
Log:
`[!] CocoaPods could not find compatible versions for pod "flutter_vlc_player":
  In Podfile:
    flutter_vlc_player (from '.symlinks/plugins/flutter_vlc_player/ios')

Specs satisfying the 'flutter_vlc_player (from '.symlinks/plugins/flutter_vlc_player/ios')' dependency were found, but they required a higher minimum deployment target.`

Specifications:
flutter: v1.20.0
Mac OS X 10.15.2
ios 8.

[2020-09-12 08:21] pratikbaid3 commented on #3
#4

[2020-09-12 20:13] #3 closed

[2020-09-13 17:29] pratikbaid3 opened #5 "Empty torrent list causing the shimmer effect to appear again and again"
![Animated GIF-downsized](https://user-images.githubusercontent.com/52864956/93024408-f85edf00-f613-11ea-94ea-f5a178547fca.gif)

The getTorrentList is returning null when there is no active torrent which is causing the shimmer effect to appear again and again

Log: flutter: Exception caught in Api Request NoSuchMethodError: Class 'List<dynamic>' has no instance getter 'keys'.
Receiver: Instance(le

[2020-09-13 18:06] pratikbaid3 commented on #5
#6
Fixed the issue and refactored the code

[2020-09-15 18:58] cv692001 commented on #5
Hey @pratikbaid3 , can I contribute to this :)

[2020-09-15 19:34] pratikbaid3 commented on #5
Hey @cv692001. I have actually alreasy resolved the issue in #6

[2020-09-16 05:22] #5 closed

[2020-10-14 05:09] harchani-ritik opened #10 "Add support for torrent labels"

[2020-10-14 05:11] harchani-ritik opened #11 "Feature to add torrent file via file explorer"

[2020-10-16 04:43] cyber-venom003 commented on #11
@harchani-ritik I would like to work on this.

[2020-10-16 07:49] cyber-venom003 commented on #11
@harchani-ritik
![ruTorrent_issue](https://user-images.githubusercontent.com/58390399/96227712-1c666500-0fb2-11eb-941c-a82564dedf83.gif)

Should I make the PR for this??

[2020-10-16 18:31] cyber-venom003 commented on #10
@harchani-ritik I would like to work on this! 😃

[2020-10-19 10:59] #11 closed

[2020-11-04 05:24] harchani-ritik opened #13 "Add "delete torrent with data" option for torrents"

[2020-11-04 05:28] harchani-ritik opened #14 "Enable reverse sorting of torrents on basis of given sorting options"

[2020-11-21 14:23] PaRaDoX50 opened #15 "Breaking Change: Insecure HTTP connections are disabled by default on iOS and Android."
There are some breaking changes in the flutter's network policy : [https://flutter.dev/docs/release/breaking-changes/network-policy-ios-android](url)

Because of these changes, the app even on putting a right URL in the location field gives a "Invalid" toast.

In general the local host runs on HTTP. So we need to allow the use of http connections in debug builds.

[2020-11-21 15:02] cyber-venom003 commented on #15
@PaRaDoX50 can you assign this to me?? As far as I've understood this issue, all I need to do is
[code]
Add this above line to network_security_config.xml for the android app.

[2020-11-21 17:32] PaRaDoX50 commented on #15
Actually, there are couple of ways to do it. We can either edit the Network Config file and add the code you sent above to the manifest file,  if we want to allow HTTP connection for  some specific domains or we can add one single attribute to the application tag to the manifest file if we want it for every address.
We need to edit the debug manifest file since we should only allow unsecure connec

[2020-11-22 07:17] cyber-venom003 commented on #15
@PaRaDoX50 ya no issue, please go ahead🙂

[2020-11-24 19:23] harchani-ritik commented on #15
@PaRaDoX50  Thanks for pointing out and fixing this.

[2020-11-24 19:23] #15 closed

[2020-12-03 18:19] pratikbaid3 commented on #13
@harchani-ritik  I'd like to work on this

[2020-12-03 18:22] harchani-ritik commented on #13
@pratikbaid3 Apology but I am already working on this and will soon make a PR for this issue.

[2020-12-05 06:44] #13 closed

[2020-12-17 08:08] Sanskar-1306 commented on #14
I have created a pull request regarding this issue. Please Review
Thanks

[2020-12-30 11:57] santhoshivan23 commented on #10
@harchani-ritik I'd like to work on this. Could you please provide me with a brief description of the enhancement required? Thanks!

[2020-12-31 05:15] harchani-ritik commented on #10
@santhoshivan23
Initially, you can work on just adding a new label on a torrent and removing it.
There should be an option (just like filters-expandable) in a navigation-drawer showing all labels and torrents labelled to them.

[2020-12-31 06:27] santhoshivan23 opened #21 "package deprecated: BottomNavigationBar"
_title_ field of BottomNavigationBar is deprecated. Use _label_ instead.

[2021-01-02 02:13] saiankit commented on #21
I can fix this up. Can you assign the issue to me ?

[2021-01-04 17:04] saiankit commented on #21
@santhoshivan23
I don't think _title_ has to be replaced with _label_ even if it has been deprecated because the Bottom Navigation Bar's title is styled to be in **Bold** which can't be made possible if label is used.
But if the **Bold** is not an important UI Criterion then the title can be replaced with label which improves the accessibility experience ( https://flutter.dev/docs/release/breaking

[2021-01-04 18:32] santhoshivan23 commented on #21
@saiankit I agree! We can make a custom bottom navigation bar if bold text is a matter of concern.

[2021-01-10 14:17] #14 closed

[2021-01-22 22:07] tusharojha opened #23 "Improve code formatting for dart files"
As of now, almost all the dart files are not formatted properly according to base dart rules. We can use the `dart format` command to format all the files. Having a properly formatted code will help people to understand the project more easily and thus more contributing.

Let me know if this issue seems worth it to be addressed, I would like to land my first PR for this issue.

[2021-01-23 14:46] harchani-ritik commented on #23
Yeah sure, go-ahead.

[2021-01-23 15:40] harchani-ritik commented on #21
Yes, guys, sorry for the delay, anyone who wishes can work on this.

[2021-01-24 16:03] harchani-ritik commented on #23
@tusharojha Thanks for the contribution, please make sure of the commit message style as mentioned in contributing guidelines for future contributions.

[2021-01-24 16:03] #23 closed

[2021-01-27 06:29] #21 closed

[2021-01-27 07:18] harchani-ritik opened #26 "Torrent Details Screen crashes after download completes, if navigated from "Downloading" Filter"
Steps to reproduce:
1) Start a torrent download.
2) Switch to 'downloading' filter from the navigation drawer.
3) Click on the torrent tile to open the torrent details screen.
4) Wait for the download to complete and boom! you see a "red screen of death" :(

![error-gif](https://user-images.githubusercontent.com/46641571/105955729-bacb9180-609c-11eb-807c-30b7a6b9ed7d.gif)

[2021-01-27 07:21] pratikbaid3 commented on #26
Id like to work on this @harchani-ritik

[2021-01-30 06:40] imanishbarnwal commented on #10
Hye @santhoshivan23 is this still opened to contribute? Let me know if I can work on this thank you. :)

[2021-01-30 07:11] santhoshivan23 commented on #10
@imanishbarnwal Yes, you can! I was waiting for the API documentation for labels but I guess it's taking time. You could coordinate with @harchani-ritik Thanks!

[2021-01-30 23:47] OnyemaAnthony commented on #26
i will like to also work on this, must the torrent download to 100 percent before the error is show? @harchani-ritik

[2021-01-31 05:21] pratikbaid3 commented on #26
@OnyemaAnthony I am already working on this and will be making a pr soon.

[2021-01-31 07:21] OnyemaAnthony commented on #26
Okay

[2021-02-02 20:03] PaRaDoX50 opened #27 "Add Torrent File Picker Allowed Extensions"
File Picker lets you pick files having extension other than .torrent and also does not notifies the user that a wrong file is picked.

[2021-02-03 06:21] #27 closed

[2021-02-04 10:35] PaRaDoX50 commented on #10
Hey @harchani-ritik ! Is someone working on this? If not, you may assign this to me. Thanks!

[2021-02-07 13:48] OnyemaAnthony opened #30 "enhancement"
remove the red debug banner and also when a user what to login and there is an error it show invalid, i want to add a more meaningful error message instead of invalid,please can i proceed?

[2021-02-07 14:04] #10 closed

[2021-02-07 14:22] harchani-ritik commented on #30
@OnyemaAnthony The red debug banner depicts that app is running on debug mode and using JIT (Just-In-Time) compiler rather than AOT (Ahead-Of-Time) compiler as in release mode. So that stays, and yes you can work on improving the error toast message and make it more comprehensive.

[2021-02-07 16:41] OnyemaAnthony commented on #30
okay i will send a PR soon

[2021-02-08 08:18] pratikbaid3 commented on #26
#32

[2021-02-09 10:52] sbis04 opened #33 "Jank while switching to dark mode"
I noticed a jank (noticeable on the `AppBar`) while switching from light mode to dark mode and vice versa.

<img src="https://user-images.githubusercontent.com/43280874/107353048-98049880-6af2-11eb-843e-5e2e8b640557.gif" width="350"/>

[2021-02-09 11:00] pratikbaid3 commented on #33
@sbis04 This is a performance issue that occurs in debug mode. You could alternatively try building the apk and installing it, the performance is a lot better in release mode.

[2021-02-09 11:11] sbis04 commented on #33
@pratikbaid3 yes, I know that it is not noticeable in the release mode. But I still think it is a bug, which I have already found in the code and can be fixed easily. It's due to the brightness configuration of `AppBarTheme` which causes the AppBar to be white for a moment.

After fixing:
<img src="https://user-images.githubusercontent.com/43280874/107355428-735df000-6af5-11eb-85f9-a750eb2bcfab.gi

[2021-02-09 14:26] #33 closed

[2021-02-09 14:29] #30 closed

[2021-02-09 16:41] harchani-ritik opened #35 "Remove "Browse Torrent File" option from bottom sheet in Feeds page"
![Webp net-resizeimage (3)](https://user-images.githubusercontent.com/46641571/107396621-f138f000-6b23-11eb-870e-20fee0e13dc6.png)

The bottom sheet I am referring to here is the one that opens up when we click on the centre Floating Action Button.

[2021-02-10 05:03] harchani-ritik commented on #26
@pratikbaid3 Thanks for solving this.

[2021-02-10 05:03] #26 closed

[2021-02-20 12:45] tusharojha opened #39 "Add GitHub workflow to improve code quality"
It's great to review pull requests but at the same time it's a bit tough to make sure all the files are properly formatted, no warnings exist like unused variables & all tests are passing.

I suggest implementing GitHub workflow CI for the Rutorrent flutter app.

@harchani-ritik I am working on it and will soon open a PR for the same.

[2021-02-20 19:41] #39 closed

[2021-02-22 06:22] Adityabhaumik commented on #35
@harchani-ritik May I have a go at it?

[2021-02-22 06:24] harchani-ritik commented on #35
@Adityabhaumik Yeah sure, go ahead.

[2021-02-22 06:33] harchani-ritik commented on #35
Please Note: This issue requires to remove the "Browse Torrent File" option from the bottom sheet on **ONLY** Feeds page and not on the Home page. Since on the home page, the FAB button allows users to add torrent file/link whereas on the feeds page it is concerned with adding RSS links and thus "browsing file" option there doesn't make sense and thus it needs to be removed.

[2021-02-23 11:12] tusharojha opened #41 "Add confirmation dialog for logout"
## Description

As of now, the app logs out all accounts immediately by pressing the Logout button on the settings page. Ideally, It should ask for confirmation about the action since the user might accidentally tap the button.

I propose to add a confirmation dialog (AlertDialog) to prevent accidental clicks.

[2021-02-23 11:14] tusharojha commented on #41
I am willing to add the feature.
@harchani-ritik Let me know if it's worth adding it.

[2021-02-23 11:29] harchani-ritik commented on #41
Yeah sure, it's worth adding, you can work on this.

[2021-02-23 12:04] #41 closed

[2021-02-23 12:33] pratikbaid3 opened #43 "Wakelock package causing pod install to fail."
With cocoapods 1.9 a new command is shipped use_frameworks! :linkage => :static which allows static linking. This command needs to be added in the pod file in order to successfully run pod install. If this is not done the pod install will crash

<img width="1087" alt="Screenshot 2021-02-23 at 5 57 43 PM" src="https://user-images.githubusercontent.com/52864956/108843635-f6f10400-7600-11eb-8b6f-eb8c

[2021-02-23 12:35] pratikbaid3 commented on #43
@harchani-ritik i'd like to work and fix this isssue

[2021-02-23 13:11] pratikbaid3 opened #45 "No app icon for ios build"
<img width="70" alt="Screenshot 2021-02-23 at 6 40 26 PM" src="https://user-images.githubusercontent.com/52864956/108848175-ad0b1c80-7606-11eb-9c5a-80c5fcbf1057.png">

@harchani-ritik I'd like to add the android app icon to ios as well

[2021-02-23 14:44] #43 closed

[2021-02-23 19:38] #45 closed

[2021-02-24 10:31] pratikbaid3 opened #50 "Provide remove torrent option on the tile"
Current flow:
Click on the torrent to go to the detail page and then click on the 'X' icon to get a popup to delete the torrent.

![WhatsApp Image 2021-02-24 at 3 55 30 PM (1)](https://user-images.githubusercontent.com/52864956/108987510-61fe1180-76b9-11eb-9d37-7a4c748d1f2a.jpeg)
![WhatsApp Image 2021-02-24 at 3 55 30 PM](https://user-images.githubusercontent.com/52864956/108987520-64f90200-76b9-1

[2021-02-24 10:31] pratikbaid3 commented on #50
@harchani-ritik I'd like to work on this

[2021-02-25 00:51] #35 closed

[2021-02-27 06:58] MrUnfunny opened #52 "App crashes in Explorer screen"
Hello Everyone,

The App currently crashes in Explorer screen in debug mode and in release [`isLoading` ](https://github.com/CCExtractor/rutorrent-flutter/blob/master/lib/screens/disk_explorer_screen.dart#L21) flag always remains true and hence shimmer will always be shown.

This happens because there's no exception handling in [getDiskFiles](https://github.com/CCExtractor/rutorrent-flutter/blob/m

[2021-02-27 11:24] pratikbaid3 commented on #52
Hi @MrUnfunny. I am unable to recreate the issue where the app crashes in the explorer screen. You could however try to improve the shimmer issue. @harchani-ritik
<img width="270" alt="Screenshot 2021-02-27 at 4 52 21 PM" src="https://user-images.githubusercontent.com/52864956/109385753-32027880-791c-11eb-9eab-6b61ef7c6f43.png">

[2021-02-27 11:29] pratikbaid3 commented on #52
@MrUnfunny your proposal to add a try catch block where the api is called would fix this issue.

[2021-02-27 13:37] MrUnfunny commented on #52
Hey @pratikbaid3
Yes, the app doesn't crash as it's an exception and not an error but it will show up in the IDE. Since the issue is due to Error Code 404 the app will not show red screen of death instead the [getDiskFiles](https://github.com/CCExtractor/rutorrent-flutter/blob/master/lib/api/api_requests.dart#L422) will throw an exception [here](https://github.com/CCExtractor/rutorrent-flutter/blo

[2021-02-27 17:13] harchani-ritik commented on #52
The explorer option is a seedbox-only feature, but yeah it should be properly handled when rutorrent is running locally.

[2021-02-28 13:45] #52 closed

[2021-02-28 14:06] MrUnfunny opened #54 "Long Torrent Name gets clipped"
Hello Everyone

Currently if Torrent name is long enough to occupy multiple lines, the text in second line gets clipped due to widget height constraints.

 <img src="https://user-images.githubusercontent.com/43833743/109421018-89c3e100-79fb-11eb-80cf-4da6212a9438.jpg?v=4&s=200" width="400" alt="Screenshot" >

This is because [`TorrentTile`](https://github.com/CCExtractor/rutorrent-flutter/blob/mas

[2021-02-28 14:47] pratikbaid3 opened #55 "Add a image where the list returned from the api is null"
Add an image where the list returned from the api is null. Currently we only see a blank screen with the text. Adding a image instead of keeping the screen blank would be a better UX
![Simulator Screen Shot - iPhone 12 Pro Max - 2021-02-28 at 20 15 13](https://user-images.githubusercontent.com/52864956/109422489-c397e600-7a01-11eb-93e7-81d2bc856ede.png)

![Simulator Screen Shot - iPhone 12 Pro Max

[2021-02-28 14:48] pratikbaid3 commented on #55
@harchani-ritik I'd like to work on this

[2021-02-28 20:29] rajohns08 opened #57 "pod install step failing"
I'm currently updating Xcode to see if that could be the issue. I was on 11.3, and I'm about to try 12.4. I just wanted to file this in case someone else in the future comes across this.

[code]

[2021-02-28 20:48] rajohns08 commented on #57
Updating Xcode didn't work. I think I'm on an outdated version of CocoaPods. Updating that now.

[2021-03-01 02:43] pratikbaid3 commented on #57
Hi @rajohns08 .The suggested version of cocoapods that the project has been tested on is '1.9'. Could you alternatively try the "For iOS" steps mentioned in the readme.

[2021-03-01 03:46] rajohns08 commented on #57
Right - that's what i'm doing. I got past the above error by updating cocoapods to version 1.10.1. Now when I run the pod install step in the "For iOS" section, I see:

[code]

[2021-03-01 03:53] pratikbaid3 commented on #57
Please run ```flutter pub get```
before running ```pod install```. This issue is related to the packages not being installed

[2021-03-01 09:34] pratikbaid3 commented on #55
#58

[2021-03-01 16:40] rajohns08 commented on #57
Resluts below:

[code]

[2021-03-01 16:42] pratikbaid3 commented on #57
@rajohns08 After running ```flutter pub get``` run ```cd ios``` from the root of the project and then run ```pod install --verbose```

[2021-03-01 16:43] pratikbaid3 commented on #57
You are running ```pod install``` from outside the ios directory.

[2021-03-01 16:44] pratikbaid3 commented on #57
@rajohns08 are you running ```pod install``` after going into the ios directory. The pod install wouldn't work without ```cd ios```

[2021-03-01 16:45] rajohns08 commented on #57
I'm running `pod install` inside `ios`. Here is the full console:

[code]

[2021-03-01 16:47] pratikbaid3 commented on #57
Please try these steps:
1- Delete Podfile and Podfile.lock from ios folder

2- Flutter clean either from terminal or from Android studio -> Tools -> Flutter -> Flutter Clean

3- Pod install

4- Run the app

[2021-03-01 16:49] rajohns08 commented on #57
Results after first deleting Podfiles:

[code]

[2021-03-01 16:51] pratikbaid3 commented on #57
Please run ```flutter pub get``` before running ```pod install```

[2021-03-01 16:55] rajohns08 commented on #57
Results below:

[code]

[2021-03-01 17:04] rajohns08 commented on #57
[code]

[2021-03-01 17:10] pratikbaid3 commented on #57
Please make sure you are following these steps in the correct order:

1. Delete ios folder from the root directory ```/ios```
2. From the root directory ```flutter create -i swift --project-name rutorrent .```
3. Run ```flutter pub get```
3. Uncomment ```platform :ios, '9.0'``` from ios/Podfile
4. Cd into the new ios directory```cd ios```
5. From the ios directory ```pod install --verbose```

[2021-03-01 17:14] rajohns08 commented on #57
Results:

1. First deleted `/ios`
2. Then below (I made sure to uncomment the line you said in step 4)
[code]

[2021-03-01 17:23] pratikbaid3 commented on #57
@rajohns08 is ```pod install --verbose``` working fine now?

[2021-03-01 17:50] pratikbaid3 commented on #57
@rajohns08 It seems that you have these files missing
[code]

You can refer to https://github.com/flutter/flutter/issues/55095#issuecomment-626315616

[2021-03-01 18:33] #55 closed

[2021-03-01 21:59] rajohns08 commented on #57
Yep, running `flutter precache` before `pod install` worked. I'll submit a documentation PR to close this out.

[2021-03-02 04:49] tusharojha opened #60 "Home Screen SVG partially disappears in dark theme"
## Description

The SVG added to show in case of No Torrents doesn't adjust with dark mode & is barely visible. The following screenshot demonstrates the issue:

![photo_2021-03-02_10-15-37](https://user-images.githubusercontent.com/36601970/109599086-9bfb6780-7b40-11eb-8869-f9641d41be8a.jpg)

I am working on it & will create a PR soon.

[2021-03-02 06:46] #50 closed

[2021-03-02 06:57] #54 closed

[2021-03-02 06:58] #60 closed

[2021-03-03 08:35] tusharojha opened #63 "Improve error handling inside the app"
## Description

As of now, the app is expecting only good cases in which the APIs will respond with a positive message. I get to know about this issue when my `rtorrent` server was closed but still, I am able to open the app and saw a lot of error logs inside CLI but nothing on the app.

I propose to improve the error handling inside the app which includes showing proper log messages when the app

[2021-03-03 08:42] harchani-ritik commented on #63
@tusharojha
Yes, this is required. We can have a flushbar on top stating appropriate messages in cases when the Internet or rtorrent is down.

[2021-03-03 18:41] pratikbaid3 opened #65 "Adding null safety that shipped with the latest version of dart."
The latest version of dart has a automated null safety check so migrating to null safety will allow us to not have to check for null values and this is also the default convention in the latest flutter version (V2)

@harchani-ritik I'd like to work on this.

[2021-03-04 05:25] pratikbaid3 opened #66 "Flutter V2 migration issue"
There are several issue while migrating to flutter 2.0.0

1.
```error: The named parameter 'child' isn't defined. (undefined_named_parameter at [rutorrentflutter] lib/screens/torrent_details_screen.dart:139)```

2. Flutter toast needs to be upgraded: ```In file included from /Users/pratikbaid/Developer/flutter/.pub-cache/hosted/pub.dartlang.org/fluttertoast-4.0.1/ios/Classes/FluttertoastPlugin.m:2

[2021-03-04 05:36] tusharojha commented on #65
Although, null safety is in stable from today. But as much as I remember some of our project dependencies are not migrated yet.

I'd be great if you can confirm it using 'pub outdated' command.

[2021-03-04 05:38] pratikbaid3 commented on #65
@tusharojha I have created a separate issue migrating the dependancies to be compatible with v2. After i am done with resolving that, i'd work on the null safety issue.

[2021-03-04 05:43] tusharojha commented on #66
Also, the `RaisedButton` and `FlatButton` is deprecated too. It's better to use `ElevatedButton` or creating a custom button for our app.

[2021-03-05 08:49] dhruv-kabariya commented on #66
I Think for [migrate to flutter V2](https://docs.google.com/document/d/1yohSuYrvyya5V1hB6j9pJskavCdVq9sVeTqSoEPsWH0/edit#heading=h.b9pokg4cx8f9) this link might help you @pratikbaid3 .

[2021-03-05 08:51] pratikbaid3 commented on #66
Thank you @dhruv-kabariya. I'll have a look.

[2021-03-06 20:44] #66 closed

[2021-03-10 08:02] pratikbaid3 opened #68 "Path Provider function (getExternalStorageDirectory) incompatible with iOS"
Path provider package giving error when switching to the downloads tab. This issue is due to incompatibility of getExternalStorageDirectory for iOS. Alternative is to save the file in the NSDocumentsDirectory (getApplicationDocumentsDirectory()) for platform=ios and then make it available to the user.

[code]

I'd like to fix this issue @harchani-ritik

[2021-03-10 16:48] #68 closed

[2021-03-10 22:57] rj-since-2000 opened #71 "UI bug in the AppBottomSheet bottom padding"
The bottom padding of AppBottomSheet widget in  _lib/components/add_url_bottom_sheet.dart_  has a bottom padding which on keyboard focus causes a pixel overflow in some devices.

<img src="https://user-images.githubusercontent.com/68644104/110708999-8d3c4100-8221-11eb-88e5-8f97c0f79d7b.jpg" width="300"/>

Are you working on this issue? - Yes
@harchani-ritik I would like to solve this issue

[2021-03-11 12:50] rj-since-2000 opened #73 "No (Torrent Url / Rss Url) validation while adding Torrent / Rss"
ApiRequests shows adding torrent url and rss url with no url validation. Even an empty url shows no warning/error.

@harchani-ritik I propose to improve this by creating a validation logic for the urls and show a proper error message to the user in the UI if the url is empty.

[2021-03-11 14:29] nb9960 opened #74 "Handling Notifications"
Upon clicking on **torrent add/download notification** user should be redirected to the torrent detail page.

I would like to work on this.

[2021-03-11 14:42] harchani-ritik commented on #73
Yeah, this is required.

[2021-03-11 18:15] Piero512 opened #75 "Add rutorrent discovery?"
Hey!

I've been thinking about how some people might configure rutorrent using a RPI or similar devices on their home and access it through port forward or ssh tunneling services like remote.it and I was wondering maybe we should add a discovery helper. Also, since it seems like rTorrent & rutorrent is very much user-configured, we could add some instructions to set a permanent announcement throug

[2021-03-11 22:01] rj-since-2000 commented on #73
@harchani-ritik Should I validate using standard url regex or just check for empty urls?

[2021-03-11 23:15] Piero512 commented on #75
I am working on some light additions in #77, so you can check for it.

[2021-03-12 04:49] tusharojha commented on #73
Hi @rj-since-2000
I would suggest using RegEX to verify the format. Also, make sure to accept the IP addresses too.

[2021-03-12 05:20] pratikbaid3 opened #80 "Video still plays even after the phone is turned off"
The video keeps playing in the background and the sound is turned on even when we are scrolling through the app explorer or when we turn off the phone display. This is happening due to the app not checking for lifecycle methods. The video should ideally be paused when the app lifecycle is inactive or paused and the video should play again when the lifecycle is resumed.

@harchani-ritik  I'd like t

[2021-03-12 08:14] #65 closed

[2021-03-12 08:24] #80 closed

[2021-03-12 09:09] harchani-ritik commented on #57
@rajohns08 Still working on this?

[2021-03-12 11:22] rj-since-2000 opened #83 "Mode state management issue in the main screen"
The consumer of `Mode` is at the root of the Scaffold tree in the main_screen.dart which causes the entire tree to rebuild on switching from dark to light mode and vice versa, which is unnecessary and causes a bad user experience. Mode change should only affect the UI and not the business logic!

@harchani-ritik I propose to resolve this issue with `provider<Mode>` instead of `consumer<Mode>` so t

[2021-03-12 12:34] rajohns08 commented on #57
Sorry I got a little busy and haven’t had time.

[2021-03-13 09:08] pr4nshul opened #87 "Issue while running flutter pub get"
![Screenshot (185)](https://user-images.githubusercontent.com/51524156/111025398-cc2ceb00-8409-11eb-9df9-2fe9c3f3a016.png)

I was trying to run this code on my machine so that I can use this app on my personal device and understand how it works. I tired to search this error but couldn't find anything. If anyone can help me out with it, I will be obliged.

[2021-03-13 09:17] pr4nshul commented on #87
Issue has been solved. I think I needed to upgrade my flutter.

[2021-03-13 09:17] #87 closed

[2021-03-13 17:22] rj-since-2000 commented on #73
The regex validates -

[code]
Verify it here: https://dartpad.dev/3d547fa15849f9794b7dbb8627499b00

[2021-03-13 19:35] rj-since-2000 opened #89 "shared_preferences: Failed to handle method call"
From the trace it looks like the new Threadpool implementation is the likely cause.

Steps to reproduce -
1. `Flutter run`
2. Enter url to login
3. In the main screen click on the switch mode button

Log
[code]

[2021-03-13 20:02] rj-since-2000 opened #90 "Exception caught in Api Request NoSuchMethodError"
[code]
There is no check for torrent list response from ApiRequest before accessing its path keys so when the torrent list is empty still it tries to access 'keys' getter which doesn't exist.

@harchani-ritik I propose to add a check for elements/size of response torrent list before accessing any of it's method to prevent this exception.

[2021-03-13 20:34] rj-since-2000 opened #91 "Incorrect use of ParentDataWidget in History screen"
An Expanded widget must be a descendant of a Row, Column, or Flex, and the path from the Expanded widget to its enclosing Row, Column, or Flex must contain only StatelessWidgets or StatefulWidgets (not other kinds of widgets, like RenderObjectWidgets).

In this case if the history items list is empty, then a SVG image is build at the center of an expanded widget which is not a child of a Flex widg

[2021-03-13 22:10] rj-since-2000 commented on #89
I solved this issue by upgrading the shared_preferences plugin from `^2.0.3` to `^2.0.4`

@harchani-ritik I propose to apply this change.

[2021-03-14 10:44] nb9960 commented on #90
Same issue occurs in history screen too, in case of empty list.

[2021-03-14 10:51] nb9960 commented on #91
PR #85 will fix this, most probably, as I'd removed Expanded widget and while testing I didn't found this issue.

[2021-03-14 11:10] pratikbaid3 commented on #90
@rj-since-2000 I guess you can create one single issue detailing all the error handling issues and I guess @tusharojha is already working on the error handling PR

[2021-03-14 11:12] pratikbaid3 commented on #90
#90 #91 #89 #73 #83 are all related to error handling.

[2021-03-14 11:19] tusharojha commented on #90
Not all of these but yes majorly the issues related to error handling will be resolved in #64.
Actually, I am waiting for @harchani-ritik  for a review after that I will make the suggested changes.

[2021-03-14 11:21] pratikbaid3 commented on #90
@tusharojha Could you mention the issues that your PR might resolve so that @rj-since-2000 can work on the others.

[2021-03-14 11:24] rj-since-2000 commented on #90
@pratikbaid3 @tusharojha
PR #64 is moreover related to errors related to server side response and adding all these error handling to it may end up having too much for a single PR. I think we can have a single issue for all these [issues](https://github.com/CCExtractor/rutorrent-flutter/issues/90#issuecomment-798888442)

[2021-03-14 11:25] tusharojha commented on #90
Sure, #90 #91 only.

[2021-03-14 21:46] #71 closed

[2021-03-15 09:37] rj-since-2000 opened #93 "UI/UX improvements"
Currently the app UI has few unnecessary padding and widgets, and lacks minute detailing in the UI. Also some widgets need UX improvements like closing gestures and typical widget flow in the app. Improvements related to it will be resolved here without touching any major business logic or API.

List of improvements -

- [x] Removed unnecessary padding in AppBottomSheet.
- [x] Removed unnecessary

[2021-03-15 12:15] pratikbaid3 opened #95 "Spinner positioning issue and controller not disposed"
The spinner has currently aligned to the left and the videoViewController is not disposed which caused a performance issue.
![WhatsApp Image 2021-03-15 at 5 39 35 PM](https://user-images.githubusercontent.com/52864956/111151578-a47a8600-85b5-11eb-9906-3ffe48b6e994.jpeg)

@harchani-ritik I'd like to work on this

[2021-03-15 20:19] #95 closed

[2021-03-15 20:20] #73 closed

[2021-03-15 20:22] harchani-ritik commented on #91
@rj-since-2000 Please check if it's fixed and close the issue.

[2021-03-15 20:46] tusharojha opened #97 "Clear selection option for sort by torrents list"
## Description

In the torrents list page, we can sort by a list of options but there is no way we can remove this sorting. I think we can add a small `clear selection` option to achieve it.

![photo_2021-03-16_02-12-24](https://user-images.githubusercontent.com/36601970/111218799-3b1e6580-85fd-11eb-885f-727905793eb8.jpg)

@harchani-ritik Let me know if I can work on this issue.

[2021-03-15 20:55] rj-since-2000 commented on #91
Most probably it's fixed. I have reviewed the code changes in #85 and it's fixed so i'll close this issue.

[2021-03-15 20:56] #91 closed

[2021-03-15 20:59] rj-since-2000 commented on #97
@tusharojha This issue will be fixed in #93.

[2021-03-15 21:04] tusharojha commented on #97
Hi @rj-since-2000!
Sorry but I haven't seen any code related to it. Also, it's a basic thing to add a proper description for your issues and pull requests.

Closing this issue now.

[2021-03-15 21:04] #97 closed

[2021-03-15 21:21] rj-since-2000 commented on #97
@tusharojha
Agree to that, my bad, I have now added a list of improvements in there.

[2021-03-15 21:50] rj-since-2000 commented on #90
@tusharojha If you have solved this issue in #64 should I close this ?

[2021-03-16 05:56] bhaskarblaster commented on #93
I would like to work on it.

[2021-03-16 06:04] bhaskarblaster opened #99 "Navigator PushName should be added for refactoring"
Code will be more refactored for transitioning between pages.

[2021-03-16 17:10] Monik09 opened #100 "Overflow issue in add_url_bottom_sheet on adding url"
Preview:
![image](https://user-images.githubusercontent.com/52850691/111350745-745fdf80-86a8-11eb-8fea-7270fac4cc69.png)

[2021-03-16 19:18] nb9960 opened #103 "Torrent Label oriented bugs on using multi accounts"
- If the torrents list corresponding to one account is empty, and the other one has torrents (with labels), then that list of labels is shown for both accounts.
- When all accounts torrents list is fetched then the list of labels on the drawer keeps on fluctuating.
- When there is no label for a torrent then also remove method is called.

@harchani-ritik I would like to work on this

[2021-03-16 20:05] Adityabhaumik opened #104 "UI Overflow in main_screen"
![Screenshot_1615918252](https://user-images.githubusercontent.com/52599836/111372758-11c70d80-86c1-11eb-8e88-18e54d6acb7c.png)

[2021-03-16 20:18] Adityabhaumik commented on #104
#105

[2021-03-16 21:29] #90 closed

[2021-03-17 05:14] #100 closed

[2021-03-17 21:07] harchani-ritik commented on #99
@bhaskarblaster Do you intend to use named routes for a cleaner navigation?

[2021-03-17 21:38] rj-since-2000 opened #106 "state management issue in torrent_list_page"
The root widget of TorrentsListPage is `Consumer<GeneralFeatures>`. Not mentioning all the functions inside GeneralFeatures, the two specific functions `updateDiskSpace()` and `setListOfLabels()` also notify change in the `Consumer<GeneralFeatures>` as usual. One of these two functions is getting called over a stream `getAllAccountsTorrentList()` in ApiRequests. Both the functions mentioned earlie

[2021-03-18 11:20] bhaskarblaster commented on #99
Yeah I can make the whole project named routes friendly for cleaner navigation.

[2021-03-18 20:43] rj-since-2000 opened #108 "Label icons can be added to specific set of predefined labels"
A set of specific labels (video, audio, game, etc.) can be included in the labels column to easily identify a label like in the web.

![Image 19-03-21 at 2 06 AM](https://user-images.githubusercontent.com/68644104/111694595-1540cd00-8858-11eb-943b-5ff87fcc0710.jpg)

@harchani-ritik I would like to work on this

[2021-03-18 21:00] rj-since-2000 opened #109 "Count of States is not shown in the drawer filters"
Currently to see the number of torrents in each state (All, Downloading, Completed, Active, etc...) is not shown in the drawer so the only way to count is to actively select a particular filter in the drawer and then to count torrents manually.

Each filter should also display the count for each state as in the web interface.

<img width="510" alt="Screenshot 2021-03-19 at 2 27 53 AM" src="https:/

[2021-03-18 22:32] rj-since-2000 opened #110 "FormatException in Explorer window"
Opening Explorer screen shows no files even though some files are downloaded and saved.
Log
[code]

Upon more debug I found the complete response which shows status code 404 from rutorrent backend.
[code]
The function causing this
[code]

@harchani-ritik Seems some problem with the file path !?

[2021-03-18 22:49] rj-since-2000 opened #111 "State of the Torrents list page inside PageView dies on navigating to another page"
Upon navigating to one page in the PageView, the states of other pages are not saved which causes a halt in the Torrents list page as the entire widget tree is rebuilt.

https://user-images.githubusercontent.com/68644104/111707106-7b821b80-8869-11eb-9d67-070dd3bcbee0.mp4

@harchani-ritik I would like to solve this issue using `AutomaticKeepAliveClientMixin()`.

[2021-03-19 02:08] pratikbaid3 commented on #111
@rj-since-2000 I wouldn't suggest doing this, since we are using stream builders to constantly keep the page updated, adding this mixin will make the data static.

[2021-03-19 16:29] harchani-ritik commented on #110
This is actually, a seedbox only feature, so it would be great if you can just show a "feature not available" kinda message, when the app is logged in with the account in which there are no credentials (username & password) required.

Suggestion: You can keep a boolean in api_conf to check whether it is a seedbox account (if username & password are entered) or not as this will be used at some othe

[2021-03-19 16:30] #104 closed

[2021-03-19 16:39] rj-since-2000 commented on #99
I would suggest using [auto_route](https://pub.dev/packages/auto_route) for cleaner navigation as it uses code generation to simplify routes setup which requires a minimal amount of code to generate everything needed for navigation inside the app.

[2021-03-21 19:48] fferraro87 opened #112 "no torrents listed"
Hi,
i'm installed your alpha release right now in order to connect to my rutorrent.
First time i've error "Invalid" when i add my rutorrent address because on my rutorrent there isn't quota disk space plugin.
so i've installed it and i can login on rutorrent from rutorrent flutter but there aren't anything on torrent list.
i've to install other plugins?
Do you use xmlrpc for api request right?

[2021-03-21 19:59] fferraro87 commented on #112
ok i've done, installing httprpc plugin, if you want you can specify on installation wiki as a requirement these plugins :
HttpRPC
Diskspace

[2021-03-21 19:59] #112 closed

[2021-03-24 04:59] #93 closed

[2021-03-26 04:25] #103 closed

[2021-03-26 06:00] AbdulMalikDev opened #115 "refactor : Setting channel Id, name and description"
**Existing Issues and Enhancements**

I would like to enhance the _User Experience_ by providing a proper channel name and description when a notification is sent to the user. This gives an option to the user to disable notifications from one of the channels incase the user wants to turn off certain notifications, instead of turning off all notifications at once.

Another issue I see is hardcoding

[2021-03-26 11:26] AbdulMalikDev opened #117 "Doubt regarding File Structure"
I have a few doubts about the applications, hope they can be answered.

What is the difference between having a **pages** folder and a **screens** folder for the application ?

I might be confused here but there is a folder called **services** but most of the logic tends to be written in the UI files itself. Is there something about the architecture i am missing out on?

For example in the ``` set

[2021-03-28 18:06] #111 closed

[2021-03-28 18:14] #110 closed

[2021-03-28 18:20] #115 closed

[2021-03-28 18:27] harchani-ritik commented on #117
@AbdulMalikDev
So, the convention I used here was widgets in **pages** were placed horizontally with each other on the navigation stack and those in **screens** were placed vertically.
This stacked architecture looks good though, surely, the code can be refactored according to this, you can elaborate on the advantages of using this architecture in your proposal and yes, we surely have a discussion

[2021-03-28 18:31] harchani-ritik commented on #106
`A simple solution I thought was to create a separate class of ChangeNotifier from GeneralFeatures so that functions used inside other widgets only consume providers needed`
This approach seems good, @rj-since-2000 . Please go ahead.

[2021-03-28 18:32] AbdulMalikDev commented on #117
Thank you for replying. Now i understand the pages and screens folder.

Regarding the Stacked Architecture i would love to elaborate and take the responsibility of migrating the application, if it has been chosen.

[2021-03-28 18:32] harchani-ritik commented on #99
@bhaskarblaster Are you still working on this?

[2021-03-29 05:05] harchani-ritik commented on #83
@rj-since-2000 Is this change only required in the main screen?

[2021-03-29 05:31] AbdulMalikDev opened #118 "Github Wiki Documentation"
I would like to contribute to the documentation of the project by adding setup and configuration steps for the application to help newcomers. I'd also like to suggest enabling GitHub Wikis for documentation in this repository.

I have also worked on an article to explain the setup and configuration of the project according to the information from the slack community I received as well as the probl

[2021-03-29 11:14] AbdulMalikDev opened #119 "Automatic Unit Test Coverage"
I would like to implement Unit Test Coverage for the application starting from the ``` api_requests.dart ``` file.

The implementation as well as the file structure for the tests will be similar to the guidelines of the stacked architecture elaborated in [this article](https://www.youtube.com/redirect?event=video_description&redir_token=QUFFLUhqbEVwVUlWSU1zNXJqUzNSVDdkZTlHb1hXUXUtUXxBQ3Jtc0trSlFHa

[2021-03-29 12:01] pratikbaid3 opened #121 "Migrating the VLC player to the latest version"
The vlc player is now in 6.0.x version and supports null-safety which is a prerequisite for #82. There will be some platform-specific changes required for both android and ios.

@harchani-ritik I'd like to work on this.

[2021-03-29 15:02] rj-since-2000 commented on #83
@harchani-ritik  Probably yes because the switch is actually present in the main screen, so we only need to refresh the main screen and the torrents list on toggle switch. Rest of the widgets can use Provider<Mode> when they come in focus.

Actually after more research, I realised why do we even need a Consumer in the main screen. Let's try to analyse -

There are three providers - Api, GeneralFea

[2021-03-29 16:21] harchani-ritik commented on #83
Nice @rj-since-2000. So you can replace all "consumer" usages with "Provider" wherever necessary and properly test all the functionalities once from your side too before pushing the changes.

[2021-03-29 18:42] #119 closed

[2021-03-30 11:46] AbdulMalikDev opened #123 "[CI/CD] Uploading latest generated APK in the build folder"
I would like to make an addition in the GitHub Actions Workflow for the feature of uploading latest generated apk as an artifact in the build folder, so that the latest apk of the application is always available.

[2021-03-31 16:23] #121 closed

[2021-04-07 19:07] AbdulMalikDev opened #127 "Automatic Unit Testing"
I would like to implement the rest of the Unit Tests for the application.

[2021-04-17 10:27] tusharojha opened #131 "Configurations screen doesn't handle username & password properly"
## Description

In configurations screen, one can enter any set of username & password with the URL of ruTorrent backend.

For example:

- I entered random username & password with the URL of ruTorrent backend.
- It navigates to the `main_screen` with no error message.
- I am able to see disk space used & available but the torrent list doesn't show up but the following error message logs:
[code]

[2021-04-20 20:13] AbdulMalikDev opened #133 "Adding feature to Enable/Disable, Add, Edit and Delete RSS Filters"
## Current State
In the current state of the application, when the RSS Filter is either enabled or disabled, a message prompting the user to use the ruTorrent web interface to make the changes pops up as shown below.

![RSS Filter Enable Disable](https://user-images.githubusercontent.com/47276307/115454640-a089f580-a23e-11eb-8344-c69dbc403c06.jpg)

Furthermore, the option of adding, deleting or ed

[2021-04-21 10:48] pratikbaid3 opened #135 "Dependency issue for null safety migration"
# Problem:
Currently, the app is dependant on 2 trivial packages that are not null safe yet.
[code]
These packages are not very well supported (Last commit in 2019) and having null safe packages is a pre-requisite to make the app null safe.

# Solution:
The alternative is to make use of a clone package of modal_progress_hud named [loading_overlay](https://pub.dev/packages/loading_overlay) which is

[2021-04-22 18:25] #123 closed

[2021-04-24 15:19] #135 closed

[2021-05-09 18:01] AbdulMalikDev opened #138 "Enhancing documentation by adding Screenshots"
## Proposed Addition/Enhancement

Addition of Screenshots (all existing 10 screens) to the documentation to give an inside peak as well as serve the purpose of introduction to the application.

[2021-05-09 19:11] tusharojha commented on #138
I think this would be a nice add when the app is published on stores. Till then I don't think this is needed.

Ps. It's just my opinion. So, @harchani-ritik is the right person to answer.

[2021-05-09 19:16] nb9960 commented on #138
It would be better to add gifs (or maybe use arrows in screenshots) describing usage.

[2021-05-09 19:27] harchani-ritik commented on #138
Yes, I agree will all the suggestions, screenshots aren't required here in the README (can be included when we publish the app) and GIF's will be better to serve the purpose of introduction to the new users (Not necessarily for every functionality but primarily for Login).

[2021-05-13 07:56] pranav1230 commented on #89
I'm facing the same issue and using latest package :(

[2021-05-13 07:59] pratikbaid3 commented on #89
@pranav1230 could you elaborate and also send the error log

[2021-05-13 08:06] pranav1230 commented on #89
[VERBOSE-2:ui_dart_state.cc(186)] Unhandled Exception: 'dart:async/future_impl.dart': Failed assertion: line 543 pos 12: '<optimized out>': is not true.
#0      _AssertionError._doThrowNew (dart:core-patch/errors_patch.dart:46:39)
#1      _AssertionError._throwNew (dart:core-patch/errors_patch.dart:36:5)
#2      Future._completeError (dart:async/future_impl.dart:543:12)
#3      _completeOnAsyncErr

[2021-05-13 08:08] pranav1230 commented on #89
I'm trying to increment Quotation number(Using shared prefs to store the data.) after generating the Pdf on button click.

[2021-05-13 08:11] pranav1230 commented on #89
I'm using await and .then() together in _incrementCounter method.

[2021-05-13 11:09] rj-since-2000 commented on #89
This issue was resolved using `^2.0.4` version of the plugin.

[2021-05-13 11:20] pratikbaid3 commented on #89
@pranav1230 I am unable to recreate this issue in the current build. As suggested by @rj-since-2000, using the latest version of the shared preferences package resolved the issue

[2021-05-13 11:21] pratikbaid3 commented on #89
Are you referring to functionality in this app. Because I don't think there is a "pdf generation" function in this app

[2021-05-13 11:26] pratikbaid3 commented on #89
@rj-since-2000 I am closing this issue since this already seems to be resolved.

[2021-05-13 11:26] pratikbaid3 commented on #89
@rj-since-2000 I am closing this issue since this already seems to be resolved.

[2021-05-13 11:26] #89 closed

[2021-05-15 13:37] pratikbaid3 commented on #57
Closing this since this issue is a code issue and not specific to this project.

[2021-05-15 13:37] #57 closed

[2021-05-28 11:41] erigmac opened #143 "Can't login to seedbox"
I have installed the app into iOS however I was not able to log in to Whatbox.
Is there any solution?

[2021-05-28 20:13] cfsmp3 commented on #143
This is a question for whatbox. No way our team is going to do the job of seedbox providers :-) If it doesn't work with whatbox ask them to give it a try and send a pull request to fix it :-)

Only exception is Xirvik and just because that's we're using to develop and test (and still if a Xirvik customer comes asking for help we'd say the same thing - however we know it works well with those seedb

[2021-05-28 20:13] #143 closed

[2021-06-01 16:07] #118 closed

[2021-06-15 22:21] rj-since-2000 commented on #74
Since there are no updates regarding this issue, I'm closing this. @nb9960 If you are still working on this, mention it here.

[2021-06-15 22:21] #74 closed

[2021-06-15 22:23] rj-since-2000 commented on #106
I'm closing this issue. This issue will be resolved in the new architecture in dev branch.

[2021-06-15 22:23] #106 closed

[2021-06-15 22:25] rj-since-2000 commented on #99
@harchani-ritik Since there's no response, I'm closing this.

[2021-06-15 22:25] #99 closed

[2021-07-06 18:07] rj-since-2000 opened #145 "bug: Dark Theme (dev)"
<img width="270" alt="Screenshot 2021-07-06 at 11 31 42 PM" src="https://user-images.githubusercontent.com/68644104/124646941-e9069600-deb2-11eb-8c5b-bb7ba6e1f1cc.png"><img width="270" alt="Screenshot 2021-07-06 at 11 31 49 PM" src="https://user-images.githubusercontent.com/68644104/124646948-eb68f000-deb2-11eb-821e-30b4cd9ef67a.png"><img width="270" alt="Screenshot 2021-07-06 at 11 31 59 PM" src=

[2021-07-08 14:42] rj-since-2000 opened #146 "bug: logout from all accounts pushes a new login screen in widget tree (dev)"
On logging out from all accounts in the settings, a new login screen is pushed on top that has a navigate back icon button.

<img width="321" alt="Screenshot 2021-07-08 at 8 01 46 PM" src="https://user-images.githubusercontent.com/68644104/124940713-d5c90700-e027-11eb-8f62-e3b034470131.png">

On clicking the back button...

<img width="324" alt="Screenshot 2021-07-08 at 8 02 21 PM" src="https://us

[2021-07-13 15:41] #146 closed

[2021-07-13 17:00] #145 closed

[2021-10-14 02:50] Tatsh opened #154 "Fails to run (Android)"
Commit is `7c5c8f9a2f0535963f7782e5626961561c5c5dd1`. How to fix?

[code]

[2021-11-22 07:09] curiousyuvi opened #155 "Splash screen appears white even in dark theme"
The Splash Screen appears white even in dark theme which contradicts the UI.
![rutorrent_splash_screen_issue](https://user-images.githubusercontent.com/58589519/142818242-65dbda62-3e34-44c7-9e34-5bf6f61cf8f7.gif)
I'm very new to open source, therefore I would like to be assigned to this small issue.

[2021-11-22 13:25] AarizAnsari commented on #154
Hello  Tatsh,
I have also faced same kind of  issue in a previous flutter project of mine,
basically the is some sort of problem in the Pubspec.Lock file of your pubspec.yaml. you just need to clear the Cache by running flutter clean.
After that some clear sort of errors will occur regarding your dependencies or Sdk version.
for dependency related issue you can simply run Pub get and Pub upgrade i

[2022-01-13 17:11] M-A-D-A-R-A opened #157 "Deprecated Member Use"
`accent color` is deprecated in many files.

I would like to migrate to
`colorScheme: ColorScheme.fromSwatch().copyWith(secondary: "Secondary Color")`

Please assign it to me. Thanks

[2022-01-15 21:36] ItsAdityaKSingh opened #159 "Mapping Warning while building app"
**Numerous mapping warnings are thrown on the console while building the app.**

<img width="993" alt="Screenshot 2022-01-16 at 2 56 38 AM" src="https://user-images.githubusercontent.com/69353350/149638402-cca6eb95-8424-4192-8bf7-1409fdefc848.png">

[2022-01-15 21:40] ItsAdityaKSingh opened #160 "Pubspec dependencies need to be updated"
The dependencies in pubspec need to be updated for proper building of app without any errors.

[2022-01-15 21:48] ItsAdityaKSingh opened #163 "Too many Positional Arguments"
Extra positional arguments for AndroidNotificationDetails causing error while running.

<img width="993" alt="Screenshot 2022-01-16 at 3 16 29 AM" src="https://user-images.githubusercontent.com/69353350/149638749-23067d7b-746d-4895-ae58-05848167c83c.png">

Although there's no error in building, but still it shows this message in debug console.

[2022-01-16 07:26] ItsAdityaKSingh opened #164 "Eye icon wrongly executed"
**The state of eye icon of password field needs to be reversed.**
Eye icon should be open when the password is encrypted and off when it is clicked to show the password
<img width="318" alt="Screenshot 2022-01-16 at 12 50 15 PM" src="https://user-images.githubusercontent.com/69353350/149651124-05568dba-5d4a-4488-98f4-c8ba534600fb.png"> <img width="318" alt="Screenshot 2022-01-16 at 12 49 54 PM" sr

[2022-02-05 16:42] Tusharkhati commented on #164
hey are you working on this?

[2022-05-22 11:06] MrOnyx opened #166 "Install on Debian"
Can someone explain to me how to install on debian

[2022-07-20 09:53] tejcoder0504 commented on #164
is anyone working on this?

[2022-07-20 12:58] ItsAdityaKSingh commented on #164
@tejcoder0504 I have already proposed changes for the mentioned issue in PR #165.

[2022-07-20 15:41] AbdulMalikDev commented on #164
The project was completely migrated to the **Stacked Architecture** last year and the changes are reflected in the ```dev``` branch for now (Check the [wiki ](https://github.com/CCExtractor/rutorrent-flutter/wiki)for more info). The aim is to merge the ```dev``` and ```master``` branches and create a stable release in the next few months.

As of now this issue has been solved in the dev branch so

[2022-09-10 17:11] AbdulMalikDev commented on #166
Please refer the wiki and readme on how to get started.

[2022-09-10 17:11] #166 closed

[2022-09-10 17:12] AbdulMalikDev commented on #163
This issue has been solved.

[2022-09-10 17:12] #163 closed

[2022-09-10 17:13] AbdulMalikDev commented on #160
The project has been updated extensively in the last 2 years (check wiki for more info). The default branch is now the "main" branch. All issues for previous versions are being removed.

[2022-09-10 17:13] #160 closed

[2022-09-10 17:15] AbdulMalikDev commented on #159
The project has been updated extensively in the last 2 years (check [wiki ](https://github.com/CCExtractor/rutorrent-flutter/wiki)for more info). The default branch is now the "main" branch. All issues for previous versions are being removed.

[2022-09-10 17:15] #159 closed

[2022-09-10 17:16] AbdulMalikDev commented on #157
The project has been updated extensively in the last 2 years (check [wiki ](https://github.com/CCExtractor/rutorrent-flutter/wiki)for more info). The default branch is now the "main" branch. All issues for previous versions are being removed.

[2022-09-10 17:16] #157 closed

[2022-09-10 17:16] AbdulMalikDev commented on #155
The project has been updated extensively in the last 2 years (check [wiki ](https://github.com/CCExtractor/rutorrent-flutter/wiki)for more info). The default branch is now the "main" branch. All issues for previous versions are being removed.

[2022-09-10 17:16] #155 closed

[2022-09-10 17:16] AbdulMalikDev commented on #154
The project has been updated extensively in the last 2 years (check [wiki ](https://github.com/CCExtractor/rutorrent-flutter/wiki)for more info). The default branch is now the "main" branch. All issues for previous versions are being removed.

[2022-09-10 17:16] #154 closed

[2022-09-10 17:17] AbdulMalikDev commented on #131
The project has been updated extensively in the last 2 years (check [wiki ](https://github.com/CCExtractor/rutorrent-flutter/wiki)for more info). The default branch is now the "main" branch. All issues for previous versions are being removed.

[2022-09-10 17:17] #131 closed

[2022-09-10 17:20] #117 closed

[2022-09-10 17:27] #83 closed

[2022-09-10 17:39] AbdulMalikDev commented on #63
The project has been updated extensively in the last 2 years (check [wiki ](https://github.com/CCExtractor/rutorrent-flutter/wiki)for more info). The default branch is now the "main" branch. All issues for previous versions are being removed.

[2022-09-10 17:39] #63 closed

[2022-09-10 17:43] AbdulMalikDev commented on #75
The project has been updated extensively in the last 2 years (check [wiki ](https://github.com/CCExtractor/rutorrent-flutter/wiki)for more info). The default branch is now the "main" branch. Let me know if you are still interested in working on this in the latest version.

[2022-09-10 17:45] #127 closed

[2022-09-10 18:19] AbdulMalikDev commented on #133
The project has been updated extensively in the last 2 years (check [wiki ](https://github.com/CCExtractor/rutorrent-flutter/wiki) for more info). The default branch is now the "main" branch.

If anyone wants to work on this feature you can simply apply this concept on the new "main" branch.

[2022-09-11 16:01] Piero512 commented on #75
Hi.

I believe I did this because I was trying to enter into the GSoC but I ended up too busy.
Anyways, if this is a feature that the leadership of this project would like to develop, as I stated in my first post, we should agree on

* Service Type eg: _rutorrent._tcp
* TXT records for any extra functionality.

[2022-09-18 04:24] yashsharma81 commented on #108
@harchani-ritik can i work on this issue?

[2022-09-18 13:38] yashsharma81 commented on #108
![Screenshot (4892)](https://user-images.githubusercontent.com/99663141/190905041-40cd9f82-d288-4959-a85f-75a1a196eab8.png)

please help me to setting the project.

[2022-09-18 15:20] AbdulMalikDev commented on #108
@yashsharma81 sure you can. Just make sure you are working on the "main" branch which is the latest one. Refer the Wiki for any doubts about the project structure.

[2022-09-18 15:58] yashsharma81 commented on #108
@AbdulMalikDev ok

[2022-09-18 16:23] yashsharma81 commented on #108
@AbdulMalikDev i have tried all possibilities but not working

[2022-09-18 16:24] yashsharma81 commented on #108
@AbdulMalikDev this project is not running in my system

[2022-09-18 16:24] yashsharma81 commented on #108
Launching lib\main.dart on SM A920F in debug mode...
Running Gradle task 'assembleDebug'...
Warning: The plugin flutter_local_notifications requires Android SDK version 30.
Warning: The plugin flutter_vlc_player requires Android SDK version 30.
Warning: The plugin open_file requires Android SDK version 30.
One or more plugins require a higher Android SDK version.
Fix this issue by adding the follo

[2022-09-18 16:24] yashsharma81 commented on #108
displaying this error

[2022-10-15 06:23] ghost opened #173 "Cannot log in"
Cannot log in on all browsser goes without problem but here on app just does not work

It always comes username or password not correct

Url: https://hd*****e.org
User: mronyx
Pass: ***************

User and password is 100% correct
And also have no special characters

[2022-10-15 23:41] buildwithmalik commented on #173
Try adding a "/rtorrent/" at the end of the URL. For example the URL I use is "https://\<Server URL\>/rtorrent/"

[2022-10-27 09:04] Rushour0 commented on #108
@AbdulMalikDev I am able to run the flutter app, however it is missing the required .env variables, what do you suggest I do here?

[2022-11-15 00:27] DARKFiB3R opened #175 "Edit Save Path"
Hi there,

I installed this app in the hope that it would allow me to edit the save path of a downloaded file on my seedbox.

Is this a feature that could be added in the future?

It's a very tricky thing to do when using the rutorrent desktop web interface on mobile. :(

Thanks.

[2022-11-16 12:00] danger-ahead opened #176 "Some target of URI don't exist"
List of URIs that don't exist:
1. `drawer_viewmodel.dart`,
2. `history_viewmodel.dart`
3. `url_bottomsheet_view.dart`

Log of `flutter run --verbose`:
[code]